*{margin:0;padding:0;box-sizing:border-box}
body{touch-action:none;overflow:hidden;background:#0f0f0f;color:white;font-family:system-ui}
section{padding:20px;height:100vh;display:flex;flex-direction:column;gap:20px}
.infos{display:flex;justify-content:space-between}
.info{border:1px solid gray;padding:8px;border-radius:8px}
.board{flex:1;border:1px solid gray;display:grid;grid-template-columns:repeat(auto-fill,minmax(40px,1fr));grid-template-rows:repeat(auto-fill,minmax(40px,1fr))}
.block{border:1px solid #444;border-radius:50%}
.fill{background:white}
.food{background:red}
.modal{position:fixed;inset:0;background:#000e;display:flex;justify-content:center;align-items:center}
.game-over{display:none}
.btn{padding:10px 15px;border:none;border-radius:8px}